@import "tailwindcss";

@theme {
  /* Definimos colores semánticos para usarlos como clases */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-muted: #737373; /* Neutral-500 para textos secundarios */
  --color-border: #e5e5e5; /* Neutral-200 para líneas finas */
}

/* Estilos Base */
:root {
  --font-serif-display: 'Georgia', 'Times New Roman', Times, serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  /* Renderizado de fuentes nítido para fondo blanco */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tipografía Serif para Títulos */
.font-serif-display {
  font-family: var(--font-serif-display);
  letter-spacing: -0.03em;
}

/* Utilidad para ocultar scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}